[project]
	description = Programm that calculate the age of a person by his reaction time
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ad387
[access "refs/for/refs/*"]
	read = group user/ad387
	push = group user/ad387
	label-Code-Review = -2..+2 group user/ad387
	label-Verified = -1..+1 group user/ad387
	rebase = group user/ad387
	removeReviewer = group user/ad387
	submit = group user/ad387
[access "refs/heads/*"]
	read = group user/ad387
	create = group user/ad387
	push = +force group user/ad387
	pushMerge = group user/ad387
[access "refs/tags/*"]
	push = group user/ad387
	push = +force group user/ad387
